*.iml
*.log
*.md
*.swp
*~
.*.haste_cache.*
__mocks__
.storybook
build
coverage
dist
node_modules
public
reports
.cache
.dockerignore
.editorconfig
.DS_Store
.env
.eslintignore
.eslintrc
.git
.gitattributes
.gitignore
.idea
.stryker-tmp
Dockerfile
package-lock.json
shim.js
stryker.conf.js
yarn-error.log
yarn.lock
