@font-face {
  font-family: "OpenSans Thin";
  src: url("../assets/fonts/OpenSans/OpenSans-Light.woff2") format("woff2"),
    url("../assets/fonts/OpenSans/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "CrimsomText Regular";
  src: url("../assets/fonts/CrimsomText/crimson-text.woff2") format("woff2"),
    url("../assets/fonts/CrimsomText/crimson-text.woff") format("woff");
}
@font-face {
  font-family: "CrimsomText SemiBold";
  src: url("../assets/fonts/CrimsomText/crimson-text-semibold.woff2")
      format("woff2"),
    url("../assets/fonts/CrimsomText/crimson-text-semibold.woff") format("woff");
}

html {
  min-height: 100%;
  position: relative;
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  min-height: 100%;
  background: #fff;
}
